.container {
  position: relative;
  width: 200px;
  height: 52px;
  border: 1px solid #dbdbdb;
  background: #ffffff;
}

.select {
  width: 200px;
  height: 52px;
  padding-left: 38px;
  display: flex;
  align-items: center;
}

.options {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background-color: white;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}

.option {
  width: 200px;
  height: 52px;
  background: #eeeeee;
  display: flex;
  align-items: center;
  padding-left: 38px;
}

.option:hover {
  background-color: #81bdff;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.25s linear;
  width: 56px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeArrow {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.25s linear;
  transform: rotateX(180deg);
}
