@use '@/styles/mixins';

.home-container {
  @include mixins.center;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
  height: 100dvh;
}

.title {
  font-size: 100px;
  text-align: center;
}

.timer-container {
  @include  mixins.center;
  flex-direction: column;
  height: 100%;
  font-size: 80px;
  text-align: center;
  width: 100%;
}

.timer {
}

.start-button {
  padding: 0;
  border: none;
  background: none;
  font-size: 40px;
  padding: 20px;
  border-radius: 50%;
  background: green;
  height: 300px;
  width: 300px;
}

